<div class="content-header">
    <div class="container-fluid">
        <div class="row no-print">
            <div class="col-12">
                <button #botInsertar type="button" class="btn btn-info btn-sm mr-2" (click)="insertar()"><i class="far fa-credit-card"></i> Insertar</button>
                <button type="button" class="btn btn-success btn-sm mr-2" (click)="guardar()"><i class="far fa-credit-card"></i> Guardar</button>
                <button type="button" class="btn btn-primary btn-sm mr2" (click)="eliminar()"><i class="fas fa-download"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <ngp-tabla #tabTabla1></ngp-tabla>
                        <hr>
                        <ngp-tabla #tabTabla2></ngp-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>