<div class="fix-header single-column card-no-border fix-sidebar">
    <div id="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="box box-info">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div>
                                                <h4 class="card-title"><strong>Seguimiento de PDOT</strong> </h4>
                                            </div>
                                            <div class="ml-auto">
                                                <button (click)="actualizar()" class="btn-sm btn waves-effect waves-light btn-outline-primary"><i class="fa  fa-refresh"></i></button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Proyecto: </label>
                                            <ngp-combo #comProyecto width="500px"></ngp-combo>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Meta: </label>
                                            <ngp-combo #comMeta width="500px"></ngp-combo>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Indicador: </label>
                                            <ngp-combo #comIndicador width="500px"></ngp-combo>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card">
                                    <div class="card-body">
                                        <select [(ngModel)]="isTipo" style="width: 150px; " class="custom-select pull-right">
                                            <option value="1">Barra</option>
                                            <option value="2">Dona</option>
                                            <option value="3">Polar Area</option>
                                            <option value="4">Radar</option>
                                        </select>
                                        <h3><strong>Gráfico estadístico</strong></h3>
                                        <p-chart *ngIf="isTipo==1" height="255px" type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                                        <p-chart *ngIf="isTipo==2" type="doughnut" [data]="basicData"></p-chart>
                                        <p-chart *ngIf="isTipo==3" type="polarArea" [data]="basicData"></p-chart>
                                        <p-chart *ngIf="isTipo==4" type="radar" [data]="basicData"></p-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <div class="box-body table-responsive no-padding">
                                        <table #dt class="table table-hover table-sm table-bordered">
                                            <tbody style="font-size: 15px;">
                                                <tr class="bg-dark" style="color: #fff;">
                                                    <th>Proyecto</th>
                                                    <th>Meta</th>
                                                    <th>Abreviatura</th>
                                                    <th>Indicador</th>
                                                    <th>Avance</th>
                                                    <th>Año</th>
                                                </tr>
                                                <tr *ngFor="let item of datos">
                                                    <td>{{item.detalle_proyecto}}</td>
                                                    <td>{{item.detalle_meta}}</td>
                                                    <td>{{item.abreviatura_ystmen}}</td>
                                                    <td>{{item.detalle_perspectiva}}</td>
                                                    <td class="text-right">{{item.suma_porce}}</td>
                                                    <td>{{item.anio}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                    <!-- <div class="box-footer clearfix">
                                        Fuente: GAD Provincial Santo Domingo de los Tsáchilas - Dirección de Ambiente<br> Elaborado: Dirección de Planificación - GAD Provincial Santo Domingo de los Tsáchilas
                                        <a (click)="exportExcel()" class="btn btn-sm btn-info btn-flat pull-right"><i class="fa fa-cloud-download"></i> Descargar Tabla de Datos</a>
                                        <button class="btn" (click)="dt.exportCSV()"></button>
                                    </div>
 -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <strong>Copyright &copy; 2021 <a routerLink="/">SIGAP</a> </strong> (Sistema Integrado Geográfico de Administración Pública).
        </footer>
    </div>

</div>