<app-breadcrumbs #barBotones></app-breadcrumbs>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-3 connectedSortable ui-sortable">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <ngp-arbol #arbArbol></ngp-arbol>
                    </div>
                </div>
            </section>
            <section class="col-lg-9 connectedSortable ui-sortable">
                <div class="card card-primary card-outline">
                    <div class="card-body">
                        <ngp-tabla #tabTabla1></ngp-tabla>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>