<app-breadcrumbs #barBotones></app-breadcrumbs>
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary ">
            <div class="card-body ml-0">
                <div class="row">
                    <div class="col-md-12 overflow-auto" style="max-height: 200px;">
                        <ngp-tabla #tabTabla1></ngp-tabla>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <ngp-tabla #tabTabla2></ngp-tabla>
                    </div>
                    <div class="col-12 col-sm-3 text-center">
                        <p class="lead bg_info">Semaforo:</p>
                        <i *ngIf="semaforo==='verde'" class="fas fa-circle fa-8x text-green"></i>
                        <i *ngIf="semaforo==='amarillo'" class="fas fa-circle fa-8x text-orange"></i>
                        <i *ngIf="semaforo==='rojo'" class="fas fa-circle fa-8x text-red"></i>
                        <i *ngIf="!semaforo" class="fas fa-circle fa-8x text-blue"></i>
                        <h6 class="mt-2"><strong>Total: </strong> {{total}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ngp-tabla #tabTabla3></ngp-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>