<app-breadcrumbs #barBotones>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">Gerencial</li>
        <li class="breadcrumb-item active">Matriz de gestión</li>
    </ol>
</app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <div class="card card-hover">
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                <ngp-tabla #tabTabla1></ngp-tabla>
                <div class="row">
                    <div class="col-9">
                        <ngp-tabla #tabTabla2></ngp-tabla>
                    </div>
                    <div class="col-3">
                        <p class="lead bg_info">Semaforo:</p>
                        <i *ngIf="semaforo==='verde'" class="fa fa-circle fa-5x text-green"></i>
                        <i *ngIf="semaforo==='amarillo'" class="fa fa-circle fa-8x text-orange"></i>
                        <i *ngIf="semaforo==='rojo'" class="fa fa-circle fa-8x text-red"></i>
                        <i *ngIf="!semaforo" class="fa fa-circle fa-8x text-blue"></i>
                        <h6 class="mt-2"><strong>Total: </strong> {{total}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ngp-tabla #tabTabla3></ngp-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>