<div class="content-header">
    <div class="container-fluid">
        <div class="row no-print">
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <ngp-barra></ngp-barra>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <!-- <div class="card-header">
                        <div class="col-12">
                            <button type="button" class="btn btn-info btn-sm mr-2" (click)="insertar()"><i class="far fa-credit-card"></i> Agregar propietario</button>
                            <button type="button" class="btn btn-success btn-sm mr-2" (click)="guardar()"><i class="far fa-credit-card"></i> Traspaso propietario</button>
                            <button type="button" class="btn btn-primary btn-sm mr-2" (click)="eliminar()"><i class="fas fa-download"></i> Cambio servicio</button>
                            <button type="button" class="btn btn-primary btn-sm mr-2" (click)="eliminar()"><i class="fas fa-download"></i> Seleccionar conceptos</button>
                        </div>
                    </div> -->
                    <div class="card-body">
                        <ngp-tabla #tabTabla1></ngp-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>