<div class="content-header">
    <div class="container-fluid">
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="alert alert-primary alert-dismissible" *ngIf="usuario">
            <i class="icon fas fa-info"></i> Bienvenido <strong>{{usuario.nombre|uppercase}}</strong> Al sistema de control de ventas y facturación electronica.
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-primary">
                    <span class="info-box-icon"><i class="far fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">USUARIO</span>
                        <span *ngIf="usuario" class="info-box-text">{{usuario.username |uppercase}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fas fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">PERFIL</span>
                        <span *ngIf="usuario" class="info-box-text">{{usuario.perfil |uppercase}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="fas fa-laptop"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">DIRECCIÓN IP</span>
                        <span class="info-box-text">LOCALHOST</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-calendar-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">ÚLTIMO ACCESO</span>
                        <span class="info-box-text">{{fechaUltimoAcceso}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-navy">
                        <h3 class="card-title">
                            <i class="fas fa-desktop mr-2"></i> PANTALLAS MÁS USADAS
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover table-sm text-nowrap">
                            <tbody>
                                <tr *ngFor="let pantalla of pantallas">
                                    <td class="w20"><i class="fas fa-desktop"></i></td>
                                    <td class="cursor">{{pantalla.nombre_segopc}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-navy">
                        <h3 class="card-title">NANEGADOR</h3>
                        <div class="card-tools">
                            <h3 class="card-title mr-3">PLATAFORMA</h3>
                            <i class="fas fa-desktop"></i>
                        </div>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-12">
                            <img [src]="'assets/img/browser/'+ userAgent.browser.name  + '-logo.png' " alt="Navegador" class="img-circle img-size-40 mr-2"> {{userAgent.browser.name }}
                            <span class="badge bg-danger right">Ver. {{userAgent.browser.version }}</span>
                        </div>
                        <div class="col-md-12">
                            <img [src]="'assets/img/browser/'+ userAgent.browser.name  + '-logo.png' " alt="Navegador" class="img-circle img-size-40 mr-2"> {{sistemaOperativo.nombre}}
                            <span class="float-right"><i class="fab fa-windows"></i></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>