<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>Cuenta de usuario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
                    <li class="breadcrumb-item active">account</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Opciones cuenta</h3>
                    </div>
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img *ngIf="usuario" class="profile-user-img img-fluid img-circle" [src]="usuario.foto" alt="User profile picture">
                        </div>
                        <ul class="nav nav-pills flex-column mt-2">
                            <li class="nav-item active">
                                <a routerLink="profile" routerLinkActive="active"  (click)="onClick('account/profile')" class="nav-link">
                                    <i class="fas fa-user"></i> Perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="change-password" routerLinkActive="active"  (click)="onClick('account/change-password')" class="nav-link">
                                    <i class="far fa-envelope"></i> Cambiar contraseña
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Datos del usuario</h3>
                    </div>
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>