<section class="content-header">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> Alert!</h5>
            Info alert preview. This alert is dismissable.
        </div>
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-primary">
                    <span class="info-box-icon"><i class="far fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">USUARIO</span>
                        <span class="info-box-text">ADMIN</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fas fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">PERFIL</span>
                        <span class="info-box-text">ADMINISTRADOR</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="fas fa-laptop"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">DIRECCIÓN IP</span>
                        <span class="info-box-text">LOCALHOST</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-calendar-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">ÚLTIMO ACCESO</span>
                        <span class="info-box-text">{{fechaUltimoAcceso}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="col-lg-7">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">
                            <i class="fas fa-desktop mr-1"></i> PANTALLAS MÁS USADAS
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <tbody>
                                <tr>
                                    <td>183</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                </tr>
                                <tr>
                                    <td>219</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                </tr>
                                <tr>
                                    <td>657</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="col-lg-5">
                <div class="card bg-gradient-primary">
                    <div class="card-header border-0 ">
                        <h3 class="card-title">
                            <i class="fas fa-map-marker-alt mr-1"></i> Visitors
                        </h3>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>