<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a [routerLink]="['/']" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <!-- <div class="input-group mb-3">
                        <select formControlName="pool" class="custom-select">
                            <option disabled >Seleccione...</option>
                            <option value="default">Farmacia Santa Ana</option>
                            <option value="sam">Farmacia Sam</option>
                            <option value="sampu">Farmacia Sampu</option>
                          </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-building"></span>
                            </div>
                        </div>
                    </div> -->
                    <div class="input-group mb-3">
                        <input formControlName="username" type="text" class="form-control" placeholder="Usuario" [class.is-invalid]="isInvalidField('username')">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <div *ngIf="isInvalidField('username')" class="invalid-tooltip">
                            {{getErrorMessage('username')}}
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input formControlName="password" type="password" class="form-control" placeholder="Password" [class.is-invalid]="isInvalidField('password')">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <div *ngIf="isInvalidField('password')" class="invalid-tooltip">
                            {{getErrorMessage('password')}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input formControlName="remember" type="checkbox">
                                <label for="remember"> Recuérdame </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a [routerLink]="['/forgot-password']">I forgot my password</a>
                </p>
            </div>
        </div>
    </div>
</div>